body{
    border: 10px solid darkslateblue;
    margin: 25px,20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    color:rgb(8, 219, 8);
    margin-left: 5px;
    font-size: 50px;
    background-color: blanchedalmond;
}
button{
    background-color: black;
    color: blanchedalmond;
    font-size: 30px;
}
#stopwatch{
    font-size: 40px;
    padding-left: 25px;
    line-height: 30px;
    padding-bottom: 30px;
}
#txt{
    line-height: 30px;
    font-size: 30px;
}
.clock{
    background-color: blanchedalmond;
    line-height: 50px;
}
legend{
    text-align: center;
    font-size: 30px;
}


